body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: antiquewhite;
}

h1 {
  font-size: 2rem;
  margin-top: 25px;
  justify-content: center;
}

form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 1rem;

}

.add {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0067d4;
  color: white;
  border: none;
}

.todolist {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todoitem {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}